<div><%= link_to_if Flipper.enabled?(:preview, current_player), t('.adventure'), game_maps_path %></div>
<div><%= link_to_if Flipper.enabled?(:preview, current_player), t('.quests'), game_quests_path %></div>
