<div><%= render LinkButtonComponent.new(enabled: Flipper.enabled?(:preview, current_player), label: t('.adventure'), target: game_maps_path) %></div>
<div><%= render LinkButtonComponent.new(enabled: Flipper.enabled?(:preview, current_player), label: t('.quests'), target: game_quests_path) %></div>
