<% if flash[:notice] %>
<div><%= flash[:notice] %></div>
<% end %>
<div>
  <%= render LinkButtonComponent.new(label: t('.refresh_allowlist'), target: admin_refresh_allowlist_path, method: :post) %>
</div>

<div>
  <%= render LinkButtonComponent.new(label: t('.refresh_game_data'), target: admin_refresh_game_data_path, method: :post) %>
</div>
