<%= form_with model: current_player, url: game_tutorial_path do |form| %>
  <div><%= t('.what_your_name') %></div>
  <div><%= form.text_field :name %></div>
  <div><%= form.submit t('.continue') %></div>
<% end %>
