<div class="w-full mb-12 px-4">
  <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">
    <div class="rounded-t mb-0 px-4 py-3 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
          <h3 class="font-semibold text-lg text-slate-700">
            <%= t('.maps') %>
          </h3>
        </div>
      </div>
    </div>
    <div class="block w-full overflow-x-auto">
      <table class="items-center w-full bg-transparent border-collapse">
        <%= render Admin::Table::HeaderComponent.new(columns: %w[id name]) %>
        <tbody>
          <% @maps.each do |map| %>
            <%= render Admin::Table::RowComponent.new(columns: map.values_at(:id, :name)) %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
