<div class="text-white px-6 py-4 border-2 border-white rounded relative mx-4 mb-4 <%= style %>">
  <span class="text-xl inline-block mr-5 align-middle">
    <i class="fas fa-bell"></i>
  </span>
  <span class="inline-block align-middle mr-8">
    <%= @message %>
  </span>
</div>
