<footer class="block py-4">
  <div class="container mx-auto px-4">
    <hr class="mb-6 border-b-1 border-slate-200">
    <div class="py-1 text-sm font-semibold text-slate-500 text-center"><%= @version %></div>
  </div>
</footer>
